# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Oculux Technologies LLC

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.rs]
indent_style = space
indent_size = 4

[*.{kt,kts}]
indent_style = space
indent_size = 4

[*.{yml,yaml,toml,xml,md}]
indent_style = space
indent_size = 2
